/*
  1. Box-sizing model
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. 0 default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks
  3. Add accessible line-height
  4. Text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Inter', sans-serif;
}
/*
  5. Media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

h1 {
  font-weight: 600;
  font-size: 28.8px;
  line-height: 34.85px;
}

h2 {
  font-weight: 600;
  font-size: 25.62px;
  line-height: 31.01px;
}

h3 {
  font-weight: 600;
  font-size: 22.78px;
  line-height: 27.57px;
}

h4 {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.78px;
}

body {
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
}

.body2 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16.94px;
}

.caption {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
}
