@import url('../variables/color.css');

.contenedor {
  display: flex;
}

nav {
  flex-basis: 264px;
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

.appbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
