@import url('../variables/color.css');

.contenedor {
  display: flex;
}

.contenedor--derecha {
  flex-grow: 1;
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  flex-basis: 264px;
  flex-shrink: 0;
  padding: 0 8px;

  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 16px;
      background-color: white;
      color: var(--text-secondary-color);
      font-size: 14px;
      border-radius: 8px;
      margin-bottom: 8px;

      &:hover {
        cursor: pointer;
        background-color: var(--nav-item--hover);
      }

      &:active {
        background-color: var(--nav-item--active);
        color: white;
      }

      .bx {
        font-size: 24px;
      }
    }
  }
}

main {
  background-color: var(--background2-color);
  padding: 24px;
}

.appbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.contenedor-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'tarjetas   tarjetas  tarjetas'
    'grafico    grafico   productos'
    'tabla      tabla     tabla';
}

.grid-item--tarjetas {
  grid-area: tarjetas;
}
.grid-item--grafico {
  grid-area: grafico;
}

.grid-item--productos {
  grid-area: productos;
}

.grid-item--tabla {
  grid-area: tabla;
}

.contenedor-grid--tarjetas {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.tarjeta {
  background-color: white;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .tarjeta--icono {
    color: var(--primary-color);
    font-size: 24px;
    padding: 12px;
    max-width: 48px;
    background-color: var(--default-color);
    border-radius: 100%;
  }
}

.tarjeta--titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.etiqueta-porcentaje {
  padding: 4px 6px;
  border-radius: 8px;
  margin-right: 8px;
}

.etiqueta-porcentaje--positivo {
  background-color: var(--success-color);
}

.etiqueta-porcentaje--negativo {
  background-color: var(--danger-color);
}

.lista-productos {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    img {
      max-width: 52px;
    }
  }
}

.producto-detalle {
  display: flex;
  gap: 16px;
}

.producto-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ventas-flex {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.ventas-flex--header {
  display: flex;
  justify-content: start;
  background-color: var(--background2-color);
  border-bottom: 1px solid var(--divider-color);
  padding: 16px 24px;
}
.ventas-flex--num {
  min-width: 40px;
  flex-grow: 0;
}
.ventas-flex--prod {
  min-width: 120px;
  flex-grow: 1;
}
.ventas-flex--id {
  min-width: 120px;
}
.ventas-flex--fecha {
  min-width: 120px;
}
.ventas-flex--pago {
  min-width: 120px;
}
.ventas-flex--cliente {
  min-width: 160px;
  flex-grow: 1;
}
.ventas-flex--importe {
  min-width: 120px;
}

.ventas-flex--row {
  display: flex;
  justify-content: start;
  border-bottom: 1px solid var(--divider-color);
  padding: 32px 24px;
}

.ventas-flex--footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.paginacion--botones {
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .contenedor-grid {
    grid-template-areas:
      'tarjetas   tarjetas  tarjetas'
      'grafico    grafico   grafico'
      'productos  productos productos'
      'tabla      tabla     tabla';
  }
}

@media (max-width: 900px) {
  .contenedor-grid {
    grid-template-areas:
      'tarjetas   tarjetas  tarjetas'
      'grafico    grafico   grafico'
      'productos  productos productos'
      'tabla      tabla     tabla';
  }
  nav {
    width: 100%;
    background: white;
    position: fixed;
    top: -900px;
  }
}
