@import url('../variables/color.css');

main {
  background-color: var(--background2-color);
  padding: 24px;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.contenedor-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'tarjetas   tarjetas  tarjetas'
    'grafico    grafico   productos'
    'tabla      tabla     tabla';
}

.grid-item--tarjetas {
  grid-area: tarjetas;
}
.grid-item--grafico {
  grid-area: grafico;
}

.ct-series-a .ct-line,
.ct-series-a .ct-point {
  stroke: var(--primary-color) !important;
}

.grid-item--productos {
  grid-area: productos;
}

.grid-item--tabla {
  grid-area: tabla;
}

.contenedor-grid--tarjetas {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.tarjeta {
  background-color: white;
  border: 1px solid var(--divider-color);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  .tarjeta--icono {
    color: var(--primary-color);
    font-size: 24px;
    padding: 12px;
    max-width: 48px;
    background-color: var(--default-color);
    border-radius: 100%;
  }
}

.tarjeta--titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.etiqueta-porcentaje {
  padding: 4px 6px;
  border-radius: 8px;
  margin-right: 8px;
}

.etiqueta-porcentaje--positivo {
  background-color: var(--etiqueta-positivo-bg);
  color: var(--success-color);
}

.etiqueta-porcentaje--negativo {
  background-color: var(--etiqueta-negativo-bg);
  color: var(--danger-color);
}

.lista-productos {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    img {
      max-width: 52px;
    }
  }
}

.producto-detalle {
  display: flex;
  gap: 16px;
}

.producto-titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ventas-flex {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}

.ventas-flex--header,
.ventas-flex--row {
  display: flex;
  justify-content: start;
  background-color: var(--background2-color);
  border-bottom: 1px solid var(--divider-color);
  padding: 16px 24px;
  gap: 24px;
  min-width: 500px;
}

.ventas-flex--row {
  background-color: white;
  padding: 32px 24px;
}

.ventas-flex--header span,
.ventas-flex--row span {
  flex-basis: 120px;
  flex-grow: 1;
}

.ventas-flex--footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
}

.paginacion--botones {
  display: flex;
  gap: 8px;
}

@media (max-width: 600px) {
  .contenedor-grid {
    grid-template-areas:
      'tarjetas   tarjetas  tarjetas'
      'grafico    grafico   grafico'
      'productos  productos productos'
      'tabla      tabla     tabla';
  }
}

@media (max-width: 900px) {
  .contenedor-grid {
    grid-template-areas:
      'tarjetas   tarjetas  tarjetas'
      'grafico    grafico   grafico'
      'productos  productos productos'
      'tabla      tabla     tabla';
  }
  nav {
    width: 100%;
    background: white;
    position: fixed;
    top: -900px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }

  #checkbox-menu:blank ~ nav {
    opacity: 0;
    display: none;

    img {
      display: none;
    }
  }

  #checkbox-menu:checked ~ nav {
    opacity: 1;
    top: 85px;
    padding: 16px;
    height: calc(100vh - 85px);

    img {
      display: none;
    }
  }

  .appbar {
    .logo {
      width: 95px;
      height: 31px;
      display: block;
    }
  }

  #contenedor-input {
    input {
      display: none;
    }
  }
  .appbar--botones {
    .bx-cog,
    .bx-bell {
      display: none;
    }

    .bx-menu {
      font-size: 40px;
      display: block;
    }
  }
}

@media (max-width: 1200px) {
  .contenedor-grid {
    grid-template-areas:
      'tarjetas   tarjetas  tarjetas'
      'grafico    grafico   grafico'
      'productos  productos productos'
      'tabla      tabla     tabla';
  }
}
