@import url('paleta-color.css');
:root {
  /* Colores base */
  --primary-color: var(--azul-500);
  --secondary-color: var(--morado-500);
  --default-color: var(--gris-100);
  --success-color: var(--verde-500);
  --warning-color: var(--amarillo-500);
  --danger-color: var(--rojo-500);

  /* Colores de layout */
  --background1-color: white;
  --background2-color: var(--gris-50);
  --divider-color: var(--gris-300);

  /* Colores de texto */
  --text-primary-color: var(--gris-900);
  --text-secondary-color: var(--gris-700);
  --text-tertiary-color: var(--gris-500);

  /* Estados de boton */
  --button-primary-hover: var(--azul-600);
  --button-primary-pressed: var(--azul-500);

  --button-secondary-hover: var(--gris-50);
  --button-secondary-pressed: var(--gris-200);

  --input-pressed: var(--gris-200);

  /* Estados de nav items */
  --nav-item--hover: var(--azul-50);
  --nav-item--active: var(--azul-600);
  --nav-item--red-hover: var(--rojo-50);
  --nav-item--red-active: var(--rojo-600);

  /* Colores etiquetas  */
  --etiqueta-positivo-bg: var(--verde-50);
  --etiqueta-negativo-bg: var(--rojo-50);
}
