:root {
  /* Azul */
  --azul-50: #e6f1fe;
  --azul-100: #cce3fd;
  --azul-200: #99c7fb;
  --azul-300: #66aaf9;
  --azul-400: #338ef7;
  --azul-500: #006fee;
  --azul-600: #005bc4;
  --azul-700: #004493;
  --azul-800: #002e62;
  --azul-900: #001731;

  /* Morado */
  --morado-50: #f2eafa;
  --morado-100: #e4d4f4;
  --morado-200: #c9a9e9;
  --morado-300: #ae7ede;
  --morado-400: #9353d3;
  --morado-500: #7828c8;
  --morado-600: #6020a0;
  --morado-700: #481878;
  --morado-800: #301050;
  --morado-900: #180828;

  /* Verde */
  --verde-50: #e8faf0;
  --verde-100: #d1f4e0;
  --verde-200: #a2e9c1;
  --verde-300: #74dfa2;
  --verde-400: #45d483;
  --verde-500: #17c964;
  --verde-600: #12a150;
  --verde-700: #0e793c;
  --verde-800: #095028;
  --verde-900: #052814;

  /* Rojo */
  --rojo-50: #fee7ef;
  --rojo-100: #fdd0df;
  --rojo-200: #faa0bf;
  --rojo-300: #f871a0;
  --rojo-400: #f54180;
  --rojo-500: #f31260;
  --rojo-600: #c20e4d;
  --rojo-700: #920b3a;
  --rojo-800: #610726;
  --rojo-900: #310413;

  /* Amarillo */
  --amarillo-50: #fefce8;
  --amarillo-100: #fdedd3;
  --amarillo-200: #fbdba7;
  --amarillo-300: #f9c97c;
  --amarillo-400: #f7b750;
  --amarillo-500: #f5a524;
  --amarillo-600: #c4841d;
  --amarillo-700: #936316;
  --amarillo-800: #62420e;
  --amarillo-900: #312107;

  /* Gris */
  --gris-50: #fafafa;
  --gris-100: #f4f4f5;
  --gris-200: #e4e4e7;
  --gris-300: #d4d4d8;
  --gris-400: #a1a1aa;
  --gris-500: #71717a;
  --gris-600: #52525b;
  --gris-700: #3f3f46;
  --gris-800: #27272a;
  --gris-900: #181818;
}
